Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
compile
*.o
*.lo
*.la
*.a
.deps
.libs
.dirstamp

# Executables
src/anetz/anetz
src/bnetz/bnetz
src/bnetz/bnetz-dialer
src/cnetz/cnetz
src/nmt/nmt
src/amps/amps
src/amps/tacs
src/amps/jtacs
src/r2000/radiocom2000
src/imts/imts
src/imts/imts-dialer
src/mpt1327/mpt1327
src/jolly/jollycom
src/eurosignal/eurosignal
src/pocsag/pocsag
src/golay/golay
src/fuenf/5-ton-folge
src/tv/osmotv
src/radio/osmoradio
src/radio/osmordstest
src/datenklo/datenklo
src/zeitansage/zeitansage
src/sim/cnetz_sim
src/magnetic/cnetz_magnetic
src/fuvst/fuvst
src/fuvst/fuvst_sniffer
src/dcf77/dcf77
src/mate/matesimulator
src/osmocalibrate/osmocalibrate
extra/cnetz_memory_card_generator

# Test executables
src/test/test_*

installiere_es.sh
jolly.sh
layout/kicad/magnetkarte-backups/
make-test.sh
